// 颜色定义规范
$color-background = rgb(244, 244, 244)
$color-background-d = #ddd
$color-highlight-background = #aaa
$color-dialog-background = #999
$color-theme = #30c27c
$color-theme-d = rgba(48,194,124,0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(50, 50, 50, 0.8)
$color-text-l = rgba(50, 50, 50, 0.5)
$color-text-ll = rgba(50, 50, 50, 0.3)
$play-background = #222

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px